.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* FONTS */

/* Using Font 1 for headers */
h1,h2 {
  font-family: 'Cheap Pine Shadow', sans-serif;
}

/* Using Font 2 for body text */
p, h3 {
  font-family: 'Cheap Pine Sans', sans-serif;
}

/* Using Font 3 for special elements */
.special-class {
  font-family: 'FontName3', sans-serif;
}

@font-face {
  font-family: 'Cheap Pine Shadow';
  src: url('./assets/fonts/CheapPine-Shadow.woff2') format('woff2'),
      url('./assets/fonts/CheapPine-Shadow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheap Pine Sans';
  src: url('./assets/fonts/CheapPine-Sans.woff2') format('woff2'),
      url('./assets/fonts/CheapPine-Sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cheap Pine';
  src: url('./assets/fonts/CheapPine.woff2') format('woff2'),
      url('./assets/fonts/CheapPine.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cheap Pine Shadow', sans-serif;
}

/* Define styles for the hero component */
.hero {
  position: relative;
  width: 100%;
  height: 90%; /* Make the hero fullscreen */
  display: flex; /* Align the image to the center */
  justify-content: center;
  align-items: flex-start;
}

.hero-image {
  width: 100%;  /* Maximum width to the container's width */
  max-height: 100%;  /* Maximum height to the container's height */
  object-fit: contain;  /* Image will scale to maintain its aspect ratio while fitting within the box */
}


.CalltoAction {
  margin: 0;
  padding: 0 ;
  width: 100%;
  height: Auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: rgb(21, 21, 21);

}

/* For medium-sized screens and below */
@media (max-width: 768px) {
  .CalltoAction {
    flex-direction: column;  /* stack children vertically */
    align-items: center;  /* center the children horizontally */
  }

  /* Adjusting the widths to take the full width on smaller screens */
  .TextCTA, .bCTA {
    width: 100%;
  }
}

.TextCTA{
  margin: 0;
  margin-top: 15px;
  position: center;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bCTA{
  position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bCTA img {
  width: 80%; /* Default size. Adjust this value based on your requirements. */
  height: auto; /* This maintains the aspect ratio of the image. */
  transition: width 0.8s ease; /* Optional: Adds a smooth transition when resizing the browser window */
}

/* Adjust size for medium screens */
@media (max-width: 768px) {
  .bCTA img {
    width: 300px;
  }
}

/* Adjust size for small screens */
@media (max-width: 480px) {
  .bCTA img {
    width: 200px;
  }
}

.txt {
  font-size: 5rem;
  color: white;
  margin: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

/* Adjust the breakpoints as needed */
@media (min-width: 1200px) {
  .txt {
    font-size: 6rem; /* Set the maximum size for larger screens */
  }
}

@media (max-width: 600px) {
  .txt {
    font-size: 3rem;/* Set the minimum size for smaller screens */
  }
}

.cbl-container{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.CBL-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Ele-img{
  width: 80%;
  height: 8%;
  object-fit: contain;
  margin: auto;
  
}

.card-container {
  display: flex;
  margin: 0;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  max-width: 300px;
  min-height: 400px; /* Optional, based on your design requirements */
  background: transparent;
  display: flex;
  flex-direction: column; /* Align card content vertically */
}

.card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.About-H3, .About-p {
  flex: 1; /* Allow the text content to grow and occupy available space */
}

.About-H3 {
  font-size: 2.5em;
  margin: 10px 0;
}

.About-p {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .card-container {
      flex-direction: row;
      justify-content: center;
      align-items: stretch; /* Make cards stretch to match the tallest card */
  }
}

.faq-section {
  padding: 2rem;
  background-color: #f9f9f9; /* light background to differentiate the section */
}

.faq-title {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.faq-item {
  padding: 1rem;
  border-bottom: 1px solid #eaeaea; /* light border between questions */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #f1f1f1; /* slightly darker background on hover */
}

.faq-item.active .faq-answer {
  max-height: 200px; /* or any other value that fits your content */
  margin-top: 1rem;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.faq-question {
  margin: 0;
  font-weight: 500;
  font-size: 2rem;
}

.faq-answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  font-size: 1.5rem;
}

.cta-container {
  background-color: rgb(21, 21, 21);
  padding: 2rem 0; /* Top and bottom padding */
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
}

.cta-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: .1rem;
  
}

.cta-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cta-button {
  transition: background-color 0.3s ease;
  width: 100%; /* You can set the width as you like */
  height: auto;

}

.cta-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.cta-social-link {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.cta-copyright {
  margin-top: 1rem;
  font-size: 1rem;
  
}

/* Media Query for Mobile responsiveness */
@media (max-width: 768px) {
  .cta-title {
    font-size: 2.5rem;
  }
  .cta-description {
    font-size: 1.5rem;
  }
}
